.App {
  /*text-align: center;*/
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}

.errordiv{
  height: 60px;
}

.fit{
  width: fit-content; 
  /* To adjust the height as well */ 
  height: fit-content;
}
